$color-btn: #F0253E;
$color-bottom-bar: #D0021B;
$color-bg: #F5F5F5;

html,
body {
  width: 340px;
  height: 472px;
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;

  * {
    font-family: "PingFangTC-Regular", "Heiti Regular", sans-serif;
    color: #000000;
    font-weight: 200;
  }

  textarea,
  input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.09);
    border-radius: 2px;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 6px;
  }

  textarea {
    padding: 4px 6px;
  }

  input {
    height: 26px;
  }

  label {
    font-size: 12px;
  }
}

.header {
  border-bottom: 1px solid #DADADA;
  padding: 15px;
  background-image: linear-gradient(-269deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);

  &__title {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 15px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
  }
}

.main {
  border-top: 1px solid #fff;

  &__form {
    padding: 20px 15px;
    padding-bottom: 20px + 60px;

    label {
      width: 100%;
      margin-bottom: 5px;
      display: block;
    }

    .input__url,
    .input__status,
    .input__response {
      margin-bottom: 15px;
    }

    .input__response {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 100px;
      min-height: 100px;
      max-height: 200px;
    }

    .input__status,
    .input__timeout {
      width: 140px;
    }
  }

  .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 14px 15px;
    background: $color-bottom-bar;
  }

  .mock-btn {
    border: none;
    padding: 0 15px;
    height: 32px;
    font-size: 16px;
    background: $color-btn;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
    border-radius: 2px;
    color: #FFFFFF;
    outline: none;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: lighten($color-btn, 5%);
    }

    &:active {
      background: darken($color-btn, 5%);
    }
  }
}


// #mockURL {
//   width: 320px;
// }

// #status {
//   width: 120px;
// }

// input,
// textarea {
//   margin-top: 5px;
// }