$color-red: #D0021B;
$color-btn: #F0253E;
$color-bottom-bar: $color-red;
$color-bg: #F5F5F5;
$color-line: #DADADA;

html,
body {
  width: 340px;
  height: 472px;
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;

  * {
    font-family: "PingFangTC-Regular", "Heiti Regular", sans-serif;
    color: #000000;
    font-weight: 200;

    &::selection {
      background-color: rgba($color-red, 0.15);
    }
  }

  textarea,
  input {
    background: #FFFFFF;
    border: 1px solid $color-line;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.09);
    border-radius: 2px;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 6px;
  }

  textarea {
    padding: 4px 6px;
  }

  input {
    height: 26px;
  }

  label {
    font-size: 12px;
  }
}

.header {
  border-bottom: 1px solid $color-line;
  height: 60px;
  overflow: hidden;
  background-image: linear-gradient(-90deg, rgba(208,2,27,0.00) 41%, rgba(208,2,27,0.05) 100%);

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 72px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
}

.main {
  border-top: 1px solid #fff;

  &__form {
    padding: 20px 15px;
    padding-bottom: 20px + 60px;

    label {
      width: 100%;
      margin-bottom: 5px;
      display: block;

      &.label--warning {
        &:after {
          content: "";
          width: 6px;
          height: 6px;
          background-color: $color-red;
          border-radius: 100%;
          display: inline-block;
          margin-left: 6px;
          margin-top: 6px;
          position: absolute;
        }
      }
    }

    input,
    textarea {
      &:focus {
        border: 1px solid rgba($color-red, 0.4);
      }
    }

    .input__url,
    .input__status,
    .textarea__response {
      margin-bottom: 15px;
    }

    .textarea__response {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 100px;
      min-height: 100px;
      max-height: 200px;
    }

    .input__status,
    .input__timeout {
      width: 140px;
    }
  }

  .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 14px 15px;
    background: $color-bottom-bar;
  }

  .mock-btn {
    border: none;
    padding: 0 15px;
    height: 32px;
    font-size: 16px;
    background: $color-btn;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
    border-radius: 2px;
    color: #FFFFFF;
    outline: none;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: lighten($color-btn, 5%);
    }

    &:active {
      background: darken($color-btn, 5%);
    }
  }
}
